#######################
###     PadUtil     ###
#######################


bin/
etc/
*tmp/
.git/

*.iml
*.class

!**/src/**

!.idea/
**/.idea/*
!**/.idea/codeStyles/
!**/.idea/dictionaries/
!**/.idea/inspectionProfiles/
!**/.idea/scopes/
!**/.idea/.name
!**/.idea/compiler.xml
!**/.idea/encodings.xml
!**/.idea/jarRepositories.xml
!**/.idea/misc.xml
!**/.idea/modules.xml
!**/.idea/vcs.xml
!**/.idea/settings.*
