#######################
###     PadUtil     ###
#######################


bin/
log/
etc/
tmp/
.git/

!**/src/**

!.idea/
**/.idea/*
!**/.idea/codeStyles/
!**/.idea/dictionaries/
!**/.idea/inspectionProfiles/
!**/.idea/scopes/
!**/.idea/.name
!**/.idea/compiler.xml
!**/.idea/encodings.xml
!**/.idea/jarRepositories.xml
!**/.idea/misc.xml
!**/.idea/modules.xml
!**/.idea/vcs.xml
!**/.idea/settings.*
!**/.idea/*.iml
